.formConatiner{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 
    border-radius: 25px;
    background-color: #E1E1E1;
    height: 500px;
    justify-content: center;
    width: 800px;
   
    margin-top: 3em;
    margin-left: 18em;
    margin-bottom: 2em;
    .top{
        color: black;
        font-size: 25px;
    }
}
